.h-btn {
	min-width: 124px;
	min-height: 39px;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 29px;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	margin: 2px;
	border: 2px solid var(--borderGray);
	outline: none;
}

.h-btnIconOnly {
	min-width: 39px;
	min-height: 39px;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 29px;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	margin: 2px;
	border: 2px solid var(--borderGray);
	outline: none;
}

.h-iconLoading {
	position: relative;
	top: 4px;
}

.h-primaryBtn {
	color: var(--text);
	background-color: var(--blue);
	border-color: var(--blue);
}

.h-primaryBtn:hover {
	color: var(--text);
	background-color: var(--navyBlue);
	border-color: var(--navyBlue);
}

.h-primaryBtn .icon {
	color: var(--text);
}

.h-secondaryBtn {
	color: var(--blue);
	background-color: var(--secondaryBackground);
}

.h-secondaryBtn:hover {
	color: var(--blue);
	background-color: var(--secondaryBackground);
	border-color: var(--blue);
}

.h-secondaryBtn .icon {
	color: var(--blue);
}

.h-dashedBtn {
	color: var(--blue);
	background-color: var(--secondaryBackground);
	border-style: dashed;
	border-color: var(--heartland-gray);
}

.h-dashedBtn:hover {
	color: var(--blue);
	background-color: var(--secondaryBackground);
	border-style: dashed;
	border-color: var(--blue);
}

.h-dashedBtn .icon {
	color: var(--blue);
}

.h-cancelBtn {
	color: var(--heartland-gray);
	border: none;
	background-color: transparent;
	border-color: transparent;
}

.h-warningBtn {
	color: var(--text);
	border: none;
	background-color: var(--red);
	border: 2px solid var(--red);
}

.h-warningBtn:hover {
	color: var(--text);
	border: none;
	background-color: var(--darkRed);
	border: 2px solid var(--darkRed);
}
